body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.nav {
    height: 80px;
    width: 100%;
    background-color: #1f1f1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj {
    font-size: 36px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.sections {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.section {
    flex: 1;
    text-align: center;
}

.btn {
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}
